/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}


body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.editionBanner {
	height: 59px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color:#000000;
}
.aEdition {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 16px;
	font-weight: 300;
}

.aEdition:visited{
	color:#FFFFFF;
}

.aEdition :hover{
	color: #FFFFFF;
}

main {
	flex: 1;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;

}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 10em;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 300;
}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.modifyLink {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	box-sizing: border-box;
}
.aModifyLink {
	display: flex;
	gap: 10px;
	font-size: 16px;
	font-weight: 300;
	padding-top: 7px;


}
.aModifyLink:visited{
	color:#000000;
}

.aModifyLink:hover{
	color:#000000;
}

#modal {
	display: none;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modalWrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #FFF;

}

.filters {
	display: flex;
	justify-content: center;
	margin: 50px 0px;
	gap: 10px;
}

.filters button {
	height: 37px;
	border: 1px solid;
	border-color: #1D6154;
	border-radius: 60px;
	background-color: #FFFEF8;
	font-family: 'Syne';
	font-weight: 500;
	font-size: 16px;
	color: #1D6154;
	padding: 0px 20px;
	cursor: pointer;
	transition: 400ms ease-in-out;

}

.filters button:hover {
	background-color: #1D6154;
	color: white;
}

.filters button:active {
	transform: scale(1.05);
	transition: 50ms;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;

}

.login a {
	text-decoration: underline;
	cursor: pointer;
	font-family: 'Work Sans';
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 35px;
	align-items: center;
	padding: 40px 0px 30px;
}

.loginInput {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.loginInput input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 18px;
	color: #444444;
	text-align: center;
}

.loginForm input[type="submit"] {
	height: 36px;
	margin: 0px;
	border: none;
	cursor: pointer;
}

.loginForm input[type="submit"]:hover {
	background-color: #0E2F28;
}

.loginForm input[type="submit"]:active {
	transform: scale(1.05);
	transition: 50ms;
}

#errorMessage {
	color: red;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	background-color: #FFFFFF;
	height: 60px;
}

footer li {
	font-family: 'Work Sans';
	font-weight: 300;
	font-size: 14px;
}